body{
    margin: 0;
    padding: 0;
   
}

.form-container{
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header{
    text-align: center;
    color: orange;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}


.container {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

input[type="text"],
input[type="email"] {
    width:330px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
}

.rating {
    display: flex;
    justify-content: space-between;
    max-width: 150px;
}

.rating input {
    display: none;
}

.checked {
    color: orange;
  }

.checkbox-group {
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 20px;
}

button:hover {
    background-color: darkgoldenrod;
}
input:focus{
    background-color: lightsalmon;
}